#EXTM3U
#EXTINF:-1,Biznet Lifestyle (720p)
#EXTGRP:INDO CHANNEL
http://livestream.biznetvideo.net/biznet_lifestyle/smil:lifestyle.smil/playlist.m3u8?bizkeyliveCustomParameter=myParameter&bizkeyliveendtime=0&bizkeylivehash=jgDKPclcGdZfvrIDxfMdpT7v_srMWCbubntGo9cCYWpcBBQalMlLQxHswm43PbVR&bizkeylivestarttime=0
#EXTINF:-1,Biznet Adventure (720p)
#EXTGRP:INDO CHANNEL
http://livestream.biznetvideo.net/biznet_adventure/smil:adventure.smil/playlist.m3u8?bizkeyliveCustomParameter=myParameter&bizkeyliveendtime=0&bizkeylivehash=iJYiwvsAhKLgYjtMcoxVp1GZg1XW_wNcrvg-lcNq6Vdy&bizkeylivestarttime=0
#EXTINF:-1,Biznet Kids (720p)
#EXTGRP:INDO CHANNEL
http://livestream.biznetvideo.net/biznet_kids/smil:kids.smil/playlist.m3u8?bizkeyliveCustomParameter=myParameter&bizkeyliveendtime=0&bizkeylivehash=qAri1M2xu_MAlnHwVRtOs24lR8Y_HSDijN2CRNghifUllhYqQSDlkd0qE8CkZwxC&bizkeylivestarttime=0
#EXTINF:tvg-logo="https://www.biznetnetworks.com/assets/list-logo/logo-large/biznet_logo.jpg" group-title=.....,Bisnet Lifestyle
#EXTGRP:INDO CHANNEL
http://livestream.biznetvideo.net/biznet_lifestyle/smil:lifestyle.smil/chunklist_w109806785_b2256000_slen_tkYml6a2V5bGl2ZXN0YXJ0dGltZT0wJmJpemtleWxpdmVlbmR0aW1lPTAmYml6a2V5bGl2ZUN1c3RvbVBhcmFtZXRlcj1teVBhcmFtZXRlciZiaXprZXlsaXZlaGFzaD1qZ0RLUGNsY0dkWmZ2cklEeGZNZHBUN3Zfc3JNV0NidWJudEdvOWNDWVdwY0JCUWFsTWxMUXhIc3dtNDNQYlZS.m3u8
#EXTINF:tvg-logo="https://www.biznetnetworks.com/assets/list-logo/logo-large/biznet_logo.jpg" group-title=.....,Bisnet Adventure 4K
#EXTGRP:INDO CHANNEL
http://livestream.biznetvideo.net/biznet_adventure/smil:adventure.smil/playlist.m3u8
#EXTINF:tvg-logo="https://www.biznethome.net/bin/images/tv-program/channel/BiznetHomeKids.jpg" group-title.....,Biznet Kids
#EXTGRP:INDO CHANNEL
http://livestream.biznetvideo.net/biznet_kids/smil:kids.smil/chunklist_w417362857_b2256000_slen_tkYml6a2V5bGl2ZXN0YXJ0dGltZT0wJmJpemtleWxpdmVlbmR0aW1lPTAmYml6a2V5bGl2ZUN1c3RvbVBhcmFtZXRlcj1teVBhcmFtZXRlciZiaXprZXlsaXZlaGFzaD1xQXJpMU0yeHVfTUFsbkh3VlJ0T3MyNGxSOFlfSFNEaWpOMkNSTmdoaWZVbGxoWXFRU0Rsa2QwcUU4Q2tad3hD.m3u8
#EXTINF:1,TVRI Nasional (720p)
#EXTGRP:INDO CHANNEL
http://118.97.50.107/Content/HLS/Live/Channel(TVRINASIONAL)/index.m3u8
#EXTINF:-1,MOJI TV
#EXTGRP:INDO CHANNEL
http://210.210.155.35/session/ab482d7a-f3e0-11e8-ba81-ac53b5fd5dd9/qwr9ew/s/s41/01.m3u8
#EXTINF:-1,CNN Indonesia (720p) [Geo-blocked]
#EXTGRP:INDO CHANNEL
https://live.cnnindonesia.com/livecnn/smil:cnntv.smil/playlist.m3u8
#EXTINF:tvg-logo="https://upload.wikimedia.org/wikipedia/id/e/eb/CNN_Indonesia.svg" group-title="LOKAL",CNN Indonesia (HD)
#EXTGRP:INDO CHANNEL
https://live.cnnindonesia.com/livecnn/smil:cnntv.smil/chunklist_w1285822120_b384000_sleng.m3u8
#EXTINF:tvg-logo="https://cdn.cnbcindonesia.com/cnbc/images/logo_hitam.png" group-title="LOKAL",CNBC Indonesia (HD)
#EXTGRP:INDO CHANNEL
https://live.cnbcindonesia.com/livecnbc/smil:cnbctv.smil/chunklist_w920218190_b384000_sleng.m3u8
#EXTINF:vg-id="RajawaliTV.id" tvg-logo="https://www.lyngsat.com/logo/tv/rr/rajawali_tv_id.png" group-titl......,RTV (576p) [Geo-blocked]
#EXTGRP:INDO CHANNEL
http://210.210.155.37/dr9445/h/h10/index.m3u8
#EXTINF:-1,TV Edukasi (576p)
#EXTGRP:INDO CHANNEL
http://118.98.229.118:1935/live/tve.stream/playlist.m3u8
#EXTINF:-1,Jak TV (480p) [Geo-blocked]
#EXTGRP:INDO CHANNEL
https://cdn-telkomsel-01.akamaized.net/Content/HLS/Live/channel(7a73ed02-e0de-4df1-8da3-5abfd75f24bd)/index.m3u8
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,iNews√
#EXTGRP:INDO CHANNEL
http://iptvtree.net:8080/fee2bbca/12e32aafa1/157579
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,RCTI√
#EXTGRP:INDO CHANNEL
http://iptvtree.net:8080/fee2bbca/12e32aafa1/157591
#EXTINF:tvg-logo="https://i.postimg.cc/8C3TkKc3/TVKUSHAREEXT.png" group-title="ShareExt@Relax",INEWS_HD
#EXTGRP:INDO CHANNEL
https://2no.co/Inews-Shareext
#EXTINF:tvg-logo="https://i.postimg.cc/8C3TkKc3/TVKUSHAREEXT.png" group-title="ShareExt@Relax",MNC_SPORT
#EXTGRP:INDO CHANNEL
https://maper.info/SHAREEXTmncsport
#EXTINF:tvg-logo="https://i.postimg.cc/8C3TkKc3/TVKUSHAREEXT.png" group-title="ShareExt@Relax",MNC_SPORT_1
#EXTGRP:INDO CHANNEL
https://maper.info/SHAREEXTmnssports1HD
#EXTINF:tvg-logo="https://i.postimg.cc/8C3TkKc3/TVKUSHAREEXT.png" group-title="ShareExt@Relax",MNC_SPORT_2
#EXTGRP:INDO CHANNEL
https://maper.info/SHAREEXTmncsport2
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,ANTV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=antv
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,SCTV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=sctv
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,INDOSIAR_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=indosiar
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,MOJI_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=moji
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,NET._devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=net
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,TRANSTV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=transtv
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,TRANS7_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=trans7
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,KOMPAS.TV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=kompas
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,METRO.TV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=metrotv
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,JAK.TV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=jak
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,JTV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=jtv
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,DAAI.TV_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=daai
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,JPM_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=jpm
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,TVRI_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=tvri
#EXTINF:tvg-logo="https://i.postimg.cc/CLPr6gq6/IMG-20220828-165715.jpg" group-title="Shareext@LOKAL_ID馃嚠馃.....,TVONE_devds
#EXTGRP:INDO CHANNEL
https://devds.site/api/v.m3u8?ch=tvone
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Celestial Movies
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/174687
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: AXN
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157542
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Cinema World
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/171956
#EXTINF:-1,My Cinema Asia (1080p) [Geo-blocked]
#EXTGRP:MOVIES
http://210.210.155.37/uq2663/h/h193/index.m3u8
#EXTINF:vg-id="MyCinema.id" tvg-logo="https://www.lyngsat.com/logo/tv/mm/my-cinema-id.png" group-title="A......,My Cinema (1080p)
#EXTGRP:MOVIES
http://210.210.155.37/uq2663/h/h192/index.m3u8
#EXTINF:vg-id="MyCinemaEurope.ch" tvg-logo="https://www.lyngsat.com/logo/tv/mm/my_cinema_europe_kr.png" g......,My Cinema Europe (576p)
#EXTGRP:MOVIES
http://210.210.155.37/uq2663/h/h18/index.m3u8
#EXTINF:-1,Star 1 (480p) [Not 24/7]
#EXTGRP:MOVIES
http://redlabmcdn.s.llnwi.net/nv02/bs09hd/index.m3u8
#EXTINF:-1,Star 2 (480p) [Not 24/7]
#EXTGRP:MOVIES
http://redlabmcdn.s.llnwi.net/nv02/bs10hd/index.m3u8
#EXTINF:vg-id="CelestialMovies.hk" tvg-logo="https://i.imgur.com/jeLJMc6.png" group-title="Worldwide",Celestial Movies (Indonesian Subtitle) (576p)
#EXTGRP:MOVIES
http://210.210.155.37/dr9445/h/h14/index.m3u8
#EXTINF:vg-id="CinemaWorld.my" tvg-logo="https://i.imgur.com/D2qNVZ7.png" group-title="Asia",CinemaWorld (576p) [Geo-blocked]
#EXTGRP:MOVIES
http://210.210.155.35/dr9445/h/h04/index.m3u8
#EXTINF:vg-id="" tvg-logo="" group-title="Asia",tvN Movies (Indonesian Subtitle) (576p)
#EXTGRP:MOVIES
http://210.210.155.37/dr9445/h/h21/index.m3u8
#EXTINF:vg-id="RakutenTVActionMoviesGermany.de" tvg-logo="https://i.imgur.com/81NIxYJ.jpg" group-title="E......,Rakuten Action Movies Germany (720p)
#EXTGRP:MOVIES
https://rakuten-actionmovies-3-eu.rakuten.wurl.tv/playlist.m3u8
#EXTINF:roup-title="TV" tvg-logo="https://i.ibb.co/nR6WrvW/Flag-of-India.png",IN: Sony Pix
#EXTGRP:MOVIES
http://kuchini.site:8080/GenIptvLast/Z0cMmSRZnDvDtkJP/49539
#EXTINF:1,ID: HBO
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/197972
#EXTINF:1,ID: HBO Hits
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/196480
#EXTINF:1,US: HBO
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/2336
#EXTINF:1,US: HBO 2
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/5844
#EXTINF:1,US: HBO Comedy
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/2335
#EXTINF:1,UK: HBO Comedy
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/151864
#EXTINF:1,US: HBO Family
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/760
#EXTINF:1,US: HBO Signature
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/6305
#EXTINF:1,US: HBO Zone
#EXTGRP:MOVIES
http://kuchini.site:8080/b12515fa/f176763b4e/6328
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Action
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/1092
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Animation
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/1090
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Drama
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/1089
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Family
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/727
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Premiere
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/1085
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema sci-fi Horror
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/725
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Select
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/726
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",UK: Sky Cinema Thriller
#EXTGRP:MOVIES
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/1082
#EXTINF:1,PL: CANAL+ Film
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/1714
#EXTINF:1,PL: Cinemax
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/345
#EXTINF:1,PL: Cinemax 2
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/1712
#EXTINF:1,AL: Cinemax 2
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/294443
#EXTINF:1,LA: Cinemax Action
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/47898
#EXTINF:1,BR: Cinemax
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/8834
#EXTINF:1,ARG: Cinemax
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/38661
#EXTINF:1,EX-YU: Cinemax
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/4138
#EXTINF:1,EX-YU: Cinemax 2
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/4139
#EXTINF:1,EX-YU: Fox Movies
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/4155
#EXTINF:1,EX-YU: HBO
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/6826
#EXTINF:1,EX-YU: HBO 2
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/4161
#EXTINF:1,EX-YU: HBO 3
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/10696
#EXTINF:1,EX-YU: CineStar TV 1
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/193639
#EXTINF:1,EX-YU: Cinestar TV 2
#EXTGRP:MOVIES
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/279036
#EXTINF:1,RS: Fox Movies
#EXTGRP:MOVIES
http://iptvtree.net:8080/4467299f/8b713e1a54/198867
#EXTINF:1,HR: Fox Movies
#EXTGRP:MOVIES
http://iptvtree.net:8080/4467299f/8b713e1a54/16588
#EXTINF:1,SI: Fox Movies
#EXTGRP:MOVIES
http://iptvtree.net:8080/4467299f/8b713e1a54/5589
#EXTINF:-1,TV Tokyo
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/ryowa6hd/playlist.m3u8
#EXTINF:-1,BS TV Tokyo
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs06hd/playlist.m3u8
#EXTINF:-1,BS Nippon TV (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs03hd/index.m3u8
#EXTINF:vg-id="JOAXDTV.jp" tvg-logo="https://i.imgur.com/IxD8V5X.png" group-title="Asia",Nippon TV (JOAXD-TV) (720p)
#EXTGRP:JAPAN
https://cdn.us195.jpnettv.live/jptv/kanto_nippon_720/playlist.m3u8
#EXTINF:vg-id="NipponTV.jp" tvg-logo="https://i.imgur.com/HUHGTzu.png" group-title="Asia",Nippon TV (540p) [Not 24/7]
#EXTGRP:JAPAN
https://ntv3.mov3.co/hls/ntv.m3u8
#EXTINF:-1,TV Asahi (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/ryowa4hd/index.m3u8
#EXTINF:-1,BS Asahi (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs04hd/index.m3u8
#EXTINF:-1,BS TBS (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs05hd/index.m3u8
#EXTINF:-1,BS Fuji TV (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs07hd/index.m3u8
#EXTINF:-1,NHK World Japan (1080p)
#EXTGRP:JAPAN
https://nhkwlive-ojp.akamaized.net/hls/live/2003459/nhkwlive-ojp-en/index.m3u8
#EXTINF:-1,NHK Worldᴴᴰ
#EXTGRP:JAPAN
https://nhkwlive-xjp.akamaized.net/hls/live/2003458/nhkwlive-xjp-en/index_1M.m3u8
#EXTINF:-1,NHK E
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/ryowa1hd/playlist.m3u8
#EXTINF:-1,NHK G
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/ryowa2hd/playlist.m3u8
#EXTINF:-1,NHK World Japan (720p)
#EXTGRP:JAPAN
http://nhkwlive-xjp.akamaized.net/hls/live/2003458/nhkwlive-xjp-en/index_1M.m3u8
#EXTINF:-1,NHK BS1 (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs01hd/index.m3u8
#EXTINF:-1,NHK BSP (480p)
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/bs02hd/index.m3u8
#EXTINF:-1,Tokyo MX1 (720p)
#EXTGRP:JAPAN
https://movie.mcas.jp/mcas/mx1_2/master.m3u8
#EXTINF:-1,Tokyo MX1
#EXTGRP:JAPAN
http://redlabmcdn.s.llnwi.net/nv02/ryowa8hd/playlist.m3u8
#EXTINF:-1,Tokyo MX1
#EXTGRP:JAPAN
https://movie.mcas.jp/mcas/mx1_2/chunklist.m3u8
#EXTINF:-1,Tokyo MX1
#EXTGRP:JAPAN
https://movie.mcas.jp/mcas/smil:mx1_prod.smil/master.m3u8
#EXTINF:-1,Tokyo MX2 (720p)
#EXTGRP:JAPAN
https://movie.mcas.jp/mcas/mx2_2/master.m3u8
#EXTINF:-1,Tokyo MX2
#EXTGRP:JAPAN
https://movie.mcas.jp/mcas/mx2_2/chunklist.m3u8
#EXTINF:-1,Tokyo MX2
#EXTGRP:JAPAN
https://movie.mcas.jp/mcas/smil:mx2_prod.smil/master.m3u8
#EXTINF:vg-id="QVCJapan.jp" tvg-logo="https://i.imgur.com/4pYMkoZ.png" group-title="Asia",QVC Japan (720p)
#EXTGRP:JAPAN
https://cdn-live1.qvc.jp/iPhone/1501/1501.m3u8
#EXTINF:-1,Cartoon Network Asia (720p)
#EXTGRP:ANIME & TOON
http://198.16.106.62:8278/streams/d/Cn/playlist.m3u8
#EXTINF:-1,Aniplus (Indonesian subtitle) (576p) [Geo-blocked]
#EXTGRP:ANIME & TOON
http://210.210.155.37/dr9445/h/h02/index.m3u8
#EXTINF:1,Disney Channel Japan (480p) [Not 24/7]
#EXTGRP:ANIME & TOON
http://redlabmcdn.s.llnwi.net/nv02/bs13hd/index.m3u8
#EXTINF:roup-title="usa" tvg-logo="https://i.ibb.co/kxxKY4b/usa.jpg",Animax Japan (Indonesian Subs) [Geo-blocked]
#EXTGRP:ANIME & TOON
http://210.210.155.35/dr9445/h/h02/01.m3u8
#EXTINF:-1,Animax (480p)
#EXTGRP:ANIME & TOON
http://redlabmcdn.s.llnwi.net/nv02/bs14hd/index.m3u8
#EXTINF:-1,Animax
#EXTGRP:ANIME & TOON
http://redlabmcdn.s.llnwi.net/nv02/bs14hd/playlist.m3u8
#EXTINF:-1,Anime TV (360p) [Not 24/7]
#EXTGRP:ANIME & TOON
https://stmv1.srvif.com/animetv/animetv/playlist.m3u8
#EXTINF:-1,Pluto TV One Piece (720p)
#EXTGRP:ANIME & TOON
https://service-stitcher.clusters.pluto.tv/v1/stitch/embed/hls/channel/5f7790b3ed0c88000720b241/master.m3u8?advertisingId=channel&appName=rokuchannel&appVersion=1.0&bmodel=bm1&channel_id=channel&content=channel&content_rating=ROKU_ADS_CONTENT_RATING&content_type=livefeed&coppa=false&deviceDNT=1&deviceId=channel&deviceMake=rokuChannel&deviceModel=web&deviceType=rokuChannel&deviceVersion=1.0&embedPartner=rokuChannel&genre=ROKU_ADS_CONTENT_GENRE&is_lat=1&platform=web&rdid=channel&studio_id=viacom&tags=ROKU_CONTENT_TAGS
#EXTINF:vg-id="Naruto.us" tvg-logo="https://images.pluto.tv/channels/5ee92e72fb286e0007285fec/colorLogoPN......,Pluto TV Naruto (480p)
#EXTGRP:ANIME & TOON
https://service-stitcher.clusters.pluto.tv/stitch/hls/channel/5da0c85bd2c9c10009370984/master.m3u8?advertisingId=&appName=web&appStoreUrl=&appVersion=DNT&app_name=&architecture=&buildVersion=&deviceDNT=0&deviceId=5da0c85bd2c9c10009370984&deviceLat=&deviceLon=&deviceMake=web&deviceModel=web&deviceType=web&deviceVersion=DNT&includeExtendedEvents=false&marketingRegion=US&serverSideAds=false&sid=836&terminate=false&userId=
#EXTINF:-1,Pluto TV Anime All Day (720p)
#EXTGRP:ANIME & TOON
http://service-stitcher.clusters.pluto.tv/v1/stitch/embed/hls/channel/5be4c6311843b56328bce619/master.m3u8?advertisingId=91a6ae51-6f9d-4fbb-adb0-bdfffa44693e&appVersion=unknown&deviceDNT=0&deviceId=91a6ae51-6f9d-4fbb-adb0-bdfffa44693e&deviceLat=0&deviceLon=0&deviceMake=samsung&deviceModel=samsung&deviceType=samsung-tvplus&deviceUA=samsung/SM-T720/10&deviceVersion=unknown&embedPartner=samsung-tvplus&profileFloor=&profileLimit=&samsung_app_domain=https://play.google.com/store/apps/details?id=com.samsung.android.tvplus&samsung_app_name=Mobile+TV+Plus&us_privacy=1YNY
#EXTINF:vg-id="DisneyChannelJapan.jp" tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4......,Disney Channel Japan (540p) [Not 24/7]
#EXTGRP:ANIME & TOON
https://cdn.us195.jpnettv.live/jptv/disney_channel/playlist.m3u8
#EXTINF:vg-id="DisneyJuniorJapan.jp" tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/b/bb/Disne......,Disney Junior Japan (540p) [Not 24/7]
#EXTGRP:ANIME & TOON
https://cdn.us195.jpnettv.live/jptv/disney_junior/playlist.m3u8
#EXTINF:-1,Animax Asia (Vietnamese Subs) (720p)
#EXTGRP:ANIME & TOON
https://livecdn.fptplay.net/hda3/animaxport_vhls.smil/playlist.m3u8
#EXTINF:1,ID: Disney Channel
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/165075
#EXTINF:1,ID: Disney Junior
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/162511
#EXTINF:1,MY: Disney XD
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/157544
#EXTINF:1,DE: Tom Jerry
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/63343
#EXTINF:1,AL: Tom & Jerry
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/15543
#EXTINF:1,EX-YU: Tom and Jerry
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/26810
#EXTINF:1,US: ConTV Anime
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/197736
#EXTINF:1,BR: Anime TV
#EXTGRP:ANIME & TOON
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/286067
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: BBC Earth
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/171979
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: NAT GEO Wild
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/174724
#EXTINF:1,MY: Discovery Science
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/157530
#EXTINF:1,US: Discovery Science
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/2301
#EXTINF:1,US: Science
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/6495
#EXTINF:1,UK: Discovery Science
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/713
#EXTINF:1,UK: Discovery History
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/694
#EXTINF:1,UK: History
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/282756
#EXTINF:1,UK: History 2
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/1601
#EXTINF:1,US: History
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/761
#EXTINF:1,CA: History
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/462
#EXTINF:1,CA: History 2
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/13275
#EXTINF:1,ID: History
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/162519
#EXTINF:1,UK: NAT GEO
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/1101
#EXTINF:1,UK: NAT GEO Wild
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/724
#EXTINF:1,MY: NAT GEO Wild
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/174724
#EXTINF:1,ID: NAT GEO
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/b12515fa/f176763b4e/165094
#EXTINF:-1,Pluto TV Mythbusters (720p) [Not 24/7]
#EXTGRP:SCI & DOCUMENT
https://service-stitcher.clusters.pluto.tv/v1/stitch/embed/hls/channel/5bd833b41843b56328bac189/master.m3u8?advertisingId=channel&appName=rokuchannel&appVersion=1.0&bmodel=bm1&channel_id=channel&content=channel&content_rating=ROKU_ADS_CONTENT_RATING&content_type=livefeed&coppa=false&deviceDNT=1&deviceId=channel&deviceMake=rokuChannel&deviceModel=web&deviceType=rokuChannel&deviceVersion=1.0&embedPartner=rokuChannel&genre=ROKU_ADS_CONTENT_GENRE&is_lat=1&platform=web&rdid=channel&studio_id=viacom&tags=ROKU_CONTENT_TAGS
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: BBC Earth
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/171979
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: NAT GEO Wild
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/174724
#EXTINF:1,EX-YU: Discovery Science
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/4147
#EXTINF:1,EX-YU: Discovery World
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/4146
#EXTINF:1,CA: Discovery Science
#EXTGRP:SCI & DOCUMENT
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/295051
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Warner TV
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157550
#EXTINF:1,Fashion TV UHD
#EXTGRP:VARIETY
http://fash2043.cloudycdn.services//slive/_definst_/ftv_ftv_4k_hevc_73d_42080_default_466_hls.smil/playlist.m3u8
#EXTINF:-1,FASHION 4K
#EXTGRP:VARIETY
http://fash2043.cloudycdn.services//slive/_definst_/ftv_ftv_4k_hevc_73d_42080_default_466_hls.smil/chunklist_b10668000_t64NGs=.m3u8
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Boomerang
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/171955
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Nick Junior
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157546
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: nickelodeon
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157541
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro Ria
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/158347
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Chutti TV
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157495
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: NTV 7
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/174695
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: RTM TV 1
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/158357
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: RTM TV 2
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/158355
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: TV 3
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/158360
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: TV Alhijrah
#EXTGRP:VARIETY
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157491
#EXTINF:1,UK: RedBull TV
#EXTGRP:VARIETY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/85429
#EXTINF:1,EX-YU: Diva
#EXTGRP:VARIETY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/120591
#EXTINF:1,FR: Fashion TV Tokyo FASHION FILMS
#EXTGRP:VARIETY
http://iptvtree.net:8080/4467299f/8b713e1a54/296230
#EXTINF:1,FR: Fashion TV Singapore Photoshoots
#EXTGRP:VARIETY
http://iptvtree.net:8080/4467299f/8b713e1a54/286508
#EXTINF:1,DE: Pluto TV MTV
#EXTGRP:VARIETY
http://iptvtree.net:8080/4467299f/8b713e1a54/294835
#EXTINF:-1,JSPORT 1
#EXTGRP:SPORTS
http://redlabmcdn.s.llnwi.net/nv02/bs15hd/index.m3u8
#EXTINF:-1,JSPORT 2
#EXTGRP:SPORTS
http://redlabmcdn.s.llnwi.net/nv02/bs11hd/index.m3u8
#EXTINF:-1,JSPORT 3
#EXTGRP:SPORTS
http://redlabmcdn.s.llnwi.net/nv02/bs12hd/index.m3u8
#EXTINF:1,JSPORT 4
#EXTGRP:SPORTS
http://cdnv148.cloudrsst.com:1935/jptv/jsports1_720/playlist.m3u8
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 1
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/146068
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 2
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157556
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 3
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157557
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 4
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157558
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro Arena
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157485
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro Cricket
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157565
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: FOX SPORTS 2
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157488
#EXTINF:roup-title="TV" tvg-logo="https://i.ibb.co/nR6WrvW/Flag-of-India.png",IN: Sony Ten 1
#EXTGRP:SPORTS
http://kuchini.site:8080/GenIptvLast/Z0cMmSRZnDvDtkJP/16622
#EXTINF:roup-title="TV" tvg-logo="https://i.ibb.co/nR6WrvW/Flag-of-India.png",IN: Sony Ten 2
#EXTGRP:SPORTS
http://kuchini.site:8080/GenIptvLast/Z0cMmSRZnDvDtkJP/16621
#EXTINF:roup-title="TV" tvg-logo="https://i.ibb.co/nR6WrvW/Flag-of-India.png",IN: Sony Ten 3
#EXTGRP:SPORTS
http://kuchini.site:8080/GenIptvLast/Z0cMmSRZnDvDtkJP/56191
#EXTINF:roup-title="TV" tvg-logo="https://i.ibb.co/nR6WrvW/Flag-of-India.png",IN: Sony Wah
#EXTGRP:SPORTS
http://kuchini.site:8080/GenIptvLast/Z0cMmSRZnDvDtkJP/165801
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: beIN Sports
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157561
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 1
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/146068
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 2
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157556
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 3
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157557
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro SuperSport 4
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157558
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro Arena
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157485
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: Astro Cricket
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157565
#EXTINF:group-title="TV" tvg-logo="https://i.ibb.co/sCN7q6G/download.png",MY: FOX SPORTS 2
#EXTGRP:SPORTS
http://kuchini.site:8080/tomstme300/tomasarenatelegramme300/157488
#EXTINF:1,IT: Sky Sport Moto GP
#EXTGRP:SPORTS
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/9880
#EXTINF:1,FR: CANAL+ FORMULE 1
#EXTGRP:SPORTS
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/295260
#EXTINF:vg-id="DWEnglish.de" tvg-logo="https://i.imgur.com/A1xzjOI.png" group-title="Worldwide",DW English (1080p)
#EXTGRP:OTHERS
https://dwamdstream102.akamaized.net/hls/live/2015525/dwstream102/index.m3u8
#EXTINF:1,DE: DW English
#EXTGRP:OTHERS
http://iptvtree.net:8080/4467299f/8b713e1a54/19276
#EXTINF:vg-id="DWArabic.de" tvg-logo="https://i.imgur.com/EfKe3ae.png" group-title="Arab world",DW Arabic (1080p)
#EXTGRP:OTHERS
https://dwamdstream103.akamaized.net/hls/live/2015526/dwstream103/index.m3u8
#EXTINF:vg-id="DWEspanol.de" tvg-logo="https://i.imgur.com/A1xzjOI.png" group-title="Hispanic America",DW Español (1080p)
#EXTGRP:OTHERS
https://dwamdstream104.akamaized.net/hls/live/2015530/dwstream104/index.m3u8
#EXTINF:vg-id="DWDeutschPlus.de" tvg-logo="https://i.imgur.com/A1xzjOI.png" group-title="Benelux",DW Deutsch+ (1080p) [Geo-blocked]
#EXTGRP:OTHERS
https://dwamdstream105.akamaized.net/hls/live/2015531/dwstream105/index.m3u8
#EXTINF:1,JP: ANN News
#EXTGRP:OTHERS
http://iptvtree.net:8080/4467299f/8b713e1a54/296403
#EXTINF:1,JP: KANSAI News24
#EXTGRP:OTHERS
http://iptvtree.net:8080/4467299f/8b713e1a54/296405
#EXTINF:-1,VENUS
#EXTGRP:YYY
http://go.iptvhn.net:25461/Denis/Denis123/6648
#EXTINF:-1,PAYBOY
#EXTGRP:YYY
http://go.iptvhn.net:25461/Denis/Denis123/6602
#EXTINF:-1,6853
#EXTGRP:YYY
http://go.iptvhn.net:25461/Denis/Denis123/6853
#EXTINF:-1,7680
#EXTGRP:YYY
http://go.iptvhn.net:25461/Denis/Denis123/7680
#EXTINF:-1,7681
#EXTGRP:YYY
http://go.iptvhn.net:25461/Denis/Denis123/7681
#EXTINF:-1,7682
#EXTGRP:YYY
http://go.iptvhn.net:25461/Denis/Denis123/7682
#EXTINF:1,XXX: PLAYBOY
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/14222
#EXTINF:1,XXX: PLAYBOY Latino
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/290309
#EXTINF:1,XXX: PLAYBOY USA
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/290342
#EXTINF:1,XXX: BRAZZERS
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/291234
#EXTINF:1,XXX: BRAZZERS +1
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/296073
#EXTINF:1,XXX: BRAZZERS +2
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/297156
#EXTINF:1,XXX: BRAZZERS Espanol
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/291241
#EXTINF:1,XXX: BRAZZERS Europe
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/79
#EXTINF:1,XXX: BRAZZERS VOD
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/296072
#EXTINF:1,XXX: BRAZZERS VOD +1
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/297157
#EXTINF:1,XXX: Passion XXX
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/48
#EXTINF:1,XXX: PENTHOUSE Gold
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/32056
#EXTINF:1,XXX: PENTHOUSE Passion
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/172382
#EXTINF:1,XXX: PENTHOUSE REALITY TV
#EXTGRP:YYY
http://kuchini.site:8080/pjoy2023/1a8f08cc8b/296983
